* {
    font-family: "Open Sans", sans-serif;
}

body {
    margin: 10px 30px;
}

.accordion-opener {
    align-items: center;
    border: 1px solid #2b5873;
    border-radius: 5px 5px 0 0;
    display: flex;
    padding: 10px;
    font-size: 1.25rem;
    cursor: pointer;
    &:hover {
        background-color: #2b587333;
    }
}

.accordion-content {
    border: 1px solid #2b5873;
    border-top: none;
    padding: 10px;
    ul {
        margin: 0;
        padding: 0;
        li {
            list-style-type: none;
            &.task-done {
                text-decoration: line-through;
            }
        }
    }
}

progress {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #e0e0e0;
    border: 1px solid #2b5873;
    border-radius: 5px;
    height: 30px;
    overflow: hidden;
    width: 200px;
    &::-webkit-progress-bar {
        background-color: #e0e0e0;
        border-radius: 5px;
    }
    &::-webkit-progress-value {
        background-color: #2b5873;
        border-radius: 5px 0 0 5px;
        transition: width 0.2s ease;
    }
    &::-moz-progress-bar {
        background-color: #2b5873;
        border-radius: 5px 0 0 5px;
        transition: width 0.2s ease;
    }
    &:indeterminate {
        background-color: #e0e0e0;
        &::-webkit-progress-value {
            background-color: #2b5873;
        }
        &::-moz-progress-bar {
            background-color: #2b5873;
        }
    }
    &::-ms-fill {
        background-color: #2b5873;
        border-radius: 10px;
    }
}

.progress-wrap {
    margin-right: 10px;
    position: relative;
    .progress-label {
        font-size: 12px;
        font-weight: 600;
        inset: 0;
        pointer-events: none;
        position: absolute;
        span {
            align-items: center;
            display: flex;
            inset: 0;
            position: absolute;
            justify-content: center;
            &.progress-label__fill {
                color: #fff;
                clip-path: inset(0 calc(100% - var(--progress)) 0 0);
            }
            &.progress-label__track {
                color: #2b5873;
                clip-path: inset(0 0 0 var(--progress));
            }
        }

    }
}

table.common-tasks {
    border-collapse: collapse;
    margin-bottom: 10px;
    max-width: 100%;
    table-layout: fixed;
    td {
        border: 1px solid #2b587333;
        padding: 10px;
        font-size: 0.75rem;
        &.task__done {
            background: #2b7323;
            color: #ffffff;
        }
        &.task__skip {
            background: #ccc;
            color: #2b5873;
        }
        &.task__unknown {
            color: #73232b;
        }
    }
}

abbr {
    cursor: help;
    text-underline-offset: 4px;;
}